__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Environments
.venv/
venv/
*.conda/

# Experiment outputs
results/**/*.csv
results/**/*.json
results/**/*.pkl
wandb/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# macOS
.DS_Store
