__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Environments
.venv/
venv/
*.conda/

# Experiment outputs
#/results/
#/project6-safe-rl/results/
wandb/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# macOS
.DS_Store
